* {
    font-family: sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 18pt;
}
h2 {
    font-size: 16pt;
}
h3 {
    font-size: 14pt;
}
header {
}

header h1 {
    color: blue;
}



nav {
}
nav a {
    display: inline-block;
    text-decoration: none;
    margin: 0 12px 0 0;
    color: blue;
    /*border: 1px solid blue;*/
    /*background-color: #DDF;*/
    /*text-align: center;*/
    /*min-width: 80px;*/
    /*padding: 4px 8px 4px 8px;*/
}

main {
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}
td, th {
   padding: 3px; 
}
th {
    text-align: left;
}

form {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 12px;
}
form label input {
    display: block;
    background-color: white;
}

footer  {

}
footer p {
    font-size: smaller;
    color: lightblue;
}
footer a {
    color: lightblue;
}

.number {
    text-align: right;
}
 
select {
    width: 500px;
}